@charset "utf-8";

html, body {
  overflow: hidden;
}

#uploader {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 3px dashed #cccccc;
  background: #f7f7f7;
  min-height: 100px;
  min-width: 100px;
}

#uploader:before {
  text-align: center;
  display: block;
  content: '拖拽或粘贴上传图片';
  color: #aaaaaa;
  font-weight: bold;
  font-size: 3em;
  vertical-align: middle;
  height: 100%;
  padding-top: 20%;
}