<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UPZone</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
</head>
<body>
  <div class="header">
    <a href="https://www.upyun.com/" class="upyun" target="_blank">
      <img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN">
    </a>

    <h3 class="brand">又拍云图</h3>
  </div>

  <div class="viewport">
    <div class="area-drop">
    </div>

    <div class="area-preview">
    </div>
  </div>

  <div class="footer">
    <button class="btn-upload">上传图片</button>
  </div>

  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>
</html>